
#include <zephyr/dt-bindings/gpio/nordic-nrf-gpio.h>

/ {
	chosen {
		zephyr,console = &uart0;
	};

	am2302 {
		compatible = "aosong,dht";
		status = "okay";
		dio-gpios = <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		dht22;
	};

	/delete-node/ red_pwm_led;
	/delete-node/ green_pwm_led;
	/delete-node/ blue_pwm_led;
	/delete-node/ pwm0_default;
	/delete-node/ pwm0_sleep;

	/* Do this properly one day */
	pwm_output {
		compatible = "pwm-leds";
		fan_pwm: pwm_output_0 {
			pwms = <&pwm0 0 PWM_MSEC(60) 0>;
		};
	};

	leds {
		compatible = "gpio-leds";
		reset_pin: reset_0 {
			gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
		};
		fan_pin: fan_pin_0 {
			gpios = <&gpio1 13 (GPIO_ACTIVE_HIGH | NRF_GPIO_DRIVE_H0H1)>;
		};
	};
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&pinctrl {
	pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 13)>;
			nordic,drive-mode = <NRF_DRIVE_H0H1>;
		};
	};

	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 13)>;
			low-power-enable;
		};
	};

	uart0_default: uart0_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 22)>;
		};
		group2 {
			psels = <NRF_PSEL(UART_RX, 0, 20)>;
			bias-pull-up;
		};
	};

	uart0_sleep: uart0_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 22)>,
				<NRF_PSEL(UART_RX, 0, 20)>;
			low-power-enable;
		};
	};
};
